body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

main img {
  width: 100%;
}

nav {
  font-size: 0.875rem;
}

.navbar-dark,
.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #52595f;
}

.nav-item {
  width: 100px;
}

.brand-name {
  font-size: 16px;
}

nav li {
  margin-top: 15px;
}

@media (min-width: 576px) {
  .navbar-dark,
  .dropdown-menu {
    background-color: #00000085;
  }
  .navbar-collapse {
    width: auto;
  }
  .nav-item {
    width: auto;
  }
  nav li {
    margin-top: 0;
  }
}

.subnav ul,
.subnav li,
.subnav a {
  color: #6b6b6b;
  font-size: 1rem;
}

@media (min-width: 700px) {
  .subnav ul,
  .subnav li,
  .subnav a {
    font-size: 1.25rem;
  }
}

.active-page {
  transform: translateY(-10%);
  border-bottom: 3px solid #707070;
}

.gradient-dark {
  border-radius: 0.5rem;
  background: #b1b1b1;
  background: linear-gradient(150deg, #b1b1b1 0%, #c8c8c8 7%, #a7a7a7 15%, #4b4b4b 56%, #525252 100%);
  color: #bcf8ff;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16);
}

.footer-img img {
  width: 100%;
}

footer {
  background-color: #313131;
  color: #fff;
  font-size: 0.75rem;
}

footer .footer-h {
  color: #bcf8ff;
}
/*# sourceMappingURL=settings.css.map */