

/* COMMON */

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none
}

.bg-gray {
    background-color: #2e363d;
}

.text-turquoise {
    color: #BCF8FF;
}

h1 {
    font-size: 20px;
    font-weight: 400;
}
h2 {
    font-size: 20px;
}

h3 {
    font-size: 20px;
    font-weight: 600;
}

h5 {
    font-size: 0.8rem;
}

/* Button gemensam stil */
.gradient-dark {
    border-radius: 0.5rem;
    background: rgb(177, 177, 177);
    background: linear-gradient(
      150deg,
      rgba(177, 177, 177, 1) 0%,
      rgba(200, 200, 200, 1) 7%,
      rgba(167, 167, 167, 1) 15%,
      rgba(75, 75, 75, 1) 56%,
      rgba(82, 82, 82, 1) 100%
    );
    color: #bcf8ff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 0.5rem 1.25rem;
}



/* NAVBAR */

nav, .dropdown-menu {
    background-color: #343a40;
}

.nav-item {
    width: 100px;
}

.brand-name {
    font-size: 16px;
}

nav li {
    margin-top: 15px;
}
 
/* HEADER */

.header {
    height: 100vh;
    position: relative;
}   

.bg-video-box {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.hero-text {
    height: 35vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #313131;
}

.request-box {
    text-align: center;
    background-color: #00000063;
    padding: 5rem 2rem 2rem 2rem;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
}

.form-control {
    width: auto;
    margin: 0 auto;
    background-color: transparent;
    color: #cbcbcb;
    border: none;
    border-bottom: 2px solid#cbcbcb;
}
.form-control::placeholder {
    color: #cbcbcb;
    text-align: center;
}


/* SECTION register-info */

.smartphone {
    display: none;
}


/* SECTION How it works */

.how-it-works {
    background-color: #F1F8F6;
    border-radius: 0 100px 0 0;
}

/* SECTION review-box */

.review-box {
    position: relative;
}

.review-quote {
    background-image: linear-gradient(to bottom, #ffffffc2,rgba(83, 83, 83, 0.849));
    width: 110px;
    padding: 10px 15px;
    font-size: 14px;
    position: absolute;
    top: 20px;
    right: 5px;
}

.quote {
    background-image: linear-gradient(to right bottom, rgba(255, 254, 254, 0.3), rgba(80, 80, 80, 0.3));
    width: 280px;
}

/* FOOTER */


.footer-img img {
  width: 100%;
}

footer {
    background-color: #313131;
    color: #fff;
    font-size: 0.75rem;
}
.footer-h {
    color: #bcf8ff;
}

/* MEDIA QUERIES */

@media (min-width: 576px) { 
    
    h1 {
        font-size: 36px;
    }
    
    /* NAVBAR */
    nav, .dropdown-menu {
        background-color: #00000085;
    }
    
    .navbar-collapse {
        width: auto;
    }
    .nav-item {
    width: auto;
    }

    nav li {
    margin-top: 0;
    }

    /* HEADER */

    .request-box {
        right: 30px;
        top: 70px;
        bottom: auto;
        left: auto;
        width: auto;
        border-radius: 15px;
        padding-top: 0;
    }
    .hero-text {
        background-color: #343a40a8;
    }
}

@media (min-width: 768px) { 

    .register-info-text {
        height: 70px;
    }

    .photo-box {
        height: 770px;
        width: 100vw;
        background-size: cover;
        background-position: 25%;
    }
    .photo-box-review {
        background-image: url(pictures/future-type-car-croped.jpg);
    }

    .photo-box-advert {
        background-image: url(pictures/woman-in-the-taxi@2x.jpg);
    }

    .review-photo {
        display: none;
    }

    .review-quote {
        background-image: linear-gradient(to bottom, #ffffffc2,rgba(83, 83, 83, 0.849));
        width: 160px;
        padding: 25px 30px;
    
        position: absolute;
        top: 0;
        right: 30px;
    }

} 

@media (min-width: 992px) { 
    .register-info {
        margin-bottom: 11rem;
    }
    .smartphone {
        display: block;
        z-index: -1;
        position: absolute;
        top: 50px;
    } 


    .register-info {
        position: relative;
    }

    .smartphone-left {
        left: 0;
    }
    .smartphone-right {
        right: 0;
    }
}

