

body {
    font-family: 'Montserrat', sans-serif;
}
.main {
    padding-top: 70px;
}

/* NAVBAR */

nav,
.dropdown-menu {
    background-color: #343a40;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #52595f;
}

.nav-item {
  width: 100px;
  font-size: 14px;
}

.brand-name {
  font-size: 16px;
}

nav li {
  margin-top: 15px;
}


.ride-deccription {
    max-width: 400px;
}

.margin-paragraph {
    margin-left: 80px;
}

.semi-bold-text {
    font-weight: 600;
}

/* FOOTER */

.footer-img img {
    width: 100%;
}
  
footer {
    background-color: #313131;
    color: #fff;
    font-size: 0.75rem;
}
.footer-h {
    color: #bcf8ff;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
    
    /* NAVBAR */
    nav, .dropdown-menu {
        background-color: #00000085;
    }
    .navbar-collapse {
        width: auto;
    }
    .nav-item {
     width: auto;
    }

    nav li {
        margin-top: 0;
    }
}
  
@media (min-width: 768px) { 

    .margin-paragraph {
        margin-left: 0;
    }
    .ride-deccription {
        max-width: 100%;
        padding-left: 65px;
    }

    .p-underlined {
        display: inline-block;
        padding-bottom: 5px;
        border-bottom: 1px solid gray;
        
    }

}