header {
  background-color: #373737;
}

header h2 {
  color: #fff;
}

header #searchField {
  background: transparent;
  border: 1px solid #6c757d;
  color: #fff;
  font-size: 1.2rem;
}

main img {
  width: 100%;
  max-width: 200px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

main img {
  width: 100%;
}

nav {
  font-size: 14px;
}

.navbar-dark,
.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #52595f;
}

.nav-item {
  width: 100px;
}

.brand-name {
  font-size: 16px;
}

nav li {
  margin-top: 15px;
}

@media (min-width: 576px) {
  .navbar-dark,
  .dropdown-menu {
    background-color: #00000085;
  }
  .navbar-collapse {
    width: auto;
  }
  .nav-item {
    width: auto;
  }
  nav li {
    margin-top: 0;
  }
}

.footer-img img {
  width: 100%;
}

footer {
  background-color: #313131;
  color: #fff;
  font-size: 0.75rem;
}

footer .footer-h {
  color: #bcf8ff;
}
/*# sourceMappingURL=support.css.map */