body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

main img {
  width: 100%;
}

nav {
  font-size: 0.875rem;
}

.navbar-dark,
.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #52595f;
}

.nav-item {
  width: 100px;
}

.brand-name {
  font-size: 16px;
}

nav li {
  margin-top: 15px;
}

@media (min-width: 576px) {
  .navbar-dark,
  .dropdown-menu {
    background-color: #00000085;
  }
  .navbar-collapse {
    width: auto;
  }
  .nav-item {
    width: auto;
  }
  nav li {
    margin-top: 0;
  }
}

.subnav ul li a {
  color: #6b6b6b;
  background-color: transparent;
  font-size: 1rem;
  transition: all 0.3s ease;
}

@media (min-width: 700px) {
  .subnav ul li a {
    font-size: 1.25rem;
  }
}

.subnav ul li a:hover {
  transform: translateY(-10%);
  border-bottom: 3px solid #707070;
}

.subnav .active-page {
  transform: translateY(-10%);
  border-bottom: 3px solid #707070;
}

.date-filter button {
  font-size: 0.7rem;
}

.gradient-light {
  background: linear-gradient(162deg, white 0%, white 48%, #d7d7d7 100%);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 1.25rem;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16);
}

.gradient-dark {
  border-radius: 0.5rem;
  background: #b1b1b1;
  background: linear-gradient(150deg, #b1b1b1 0%, #c8c8c8 7%, #a7a7a7 15%, #4b4b4b 56%, #525252 100%);
  color: #bcf8ff;
  border: none;
  font-size: 15px;
  font-weight: 600;
  padding: 0.5rem 1.25rem;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.16);
}

th {
  font-weight: 400;
}

.history-table th,
.history-table td {
  padding: 0rem;
  font-size: 0.75rem;
}

@media (min-width: 576px) {
  .history-table th,
  .history-table td {
    font-size: 1rem;
    padding: 0.75rem;
  }
}

@media (min-width: 768px) {
  .history-table th,
  .history-table td {
    padding: 0.875rem;
  }
}

@media (min-width: 996px) {
  .history-table th,
  .history-table td {
    padding: 1rem;
  }
}

@media (min-width: 1200px) {
  .history-table th,
  .history-table td {
    padding: 1.8rem;
  }
}

.footer-img img {
  width: 100%;
}

footer {
  background-color: #313131;
  color: #fff;
  font-size: 0.75rem;
}

footer .footer-h {
  color: #bcf8ff;
}
/*# sourceMappingURL=booking.css.map */