body {
  font-family: 'Montserrat';
}

.heading-2 {
  margin-top: 80px;
}
.img-logo {
  height: 30px;
  width: 30px;
}
/* NAV */

nav,
.dropdown-menu {
  background-color: #343a40;
  font-size: 14px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #52595f;
}

.nav-item {
  width: 100px;
}

.brand-name {
  font-size: 16px;
}

nav li {
  margin-top: 15px;
}

main {
  max-width: 1200px;
}

header {
  background-color: #373737;
  color: #fff;
}

header .highlight {
  color: #bcf8ff;
}

a {
  text-decoration: none;
}


.btn-default {

    font-size: 16px;
    color: black;
    border: 2px solid gray;
    border-radius: 40px;
  }

  .play {
    width: 33vh;
    height: 7vh;
  }

  .bg-success {
    text-align: center;
  }

  .bankid-image {
    height: 50px;
    width: 50px;
  }

  .bankid-margin {
  margin: 5vh; 
  }

  
  .gradient-dark {
    border-radius: 0.5rem;
    background: rgb(177, 177, 177);
    background: linear-gradient(
      150deg,
      rgba(177, 177, 177, 1) 0%,
      rgba(200, 200, 200, 1) 7%,
      rgba(167, 167, 167, 1) 15%,
      rgba(75, 75, 75, 1) 56%,
      rgba(82, 82, 82, 1) 100%
    );
    color: #bcf8ff;
    border: none;
    font-size: 15px;
    font-weight: 600;
    padding: 0.5rem 1.25rem;
  }

footer {
  background-color: #313131;
  color: #fff;
  font-size: 0.75rem;
}

.footer-h {
color: #bcf8ff;
}

.footer-img img {
  width: 100%;
}

p {
  font-weight: 100;
  font-size: 16 px;
}


@media (max-width: 576px) { 

  img {
    width: 150px;
    height: 80px;
  }

}

@media (min-width: 576px) { 

  body {
    
    align-items:start;
    text-align: left;
    justify-content: left;
  }

  .form-control {
    max-width: 250px;
  }
  nav,
  .dropdown-menu {
    background-color: #00000085;
  }
  .navbar-collapse {
    width: auto;
  }
  .nav-item {
    width: auto;
  }

  nav li {
    margin-top: 0;
  }

  .bg-success {
    max-width: 40vh !important;
  }

  .bankID-container {
    margin-left: 8vh !important;
    max-width: 40vh !important;
  }
}

  


