body {
  font-family: Montserrat;
}

.navbar {
  
  z-index: 10;
  font-size: 14px;
}

nav,
.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #52595f;
}

.nav-item {
  width: 100px;
}

.brand-name {
  font-size: 16px;
}

nav li {
  margin-top: 15px;
}

h1 {
  color: #5C5C5C;
  display: none;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  width: 100%;
}

.hero-bg {
  background-blend-mode: darken;
}

.gradient-dark {
  border-radius: 0.5rem;
  background: #b1b1b1;
  background: linear-gradient(150deg, #b1b1b1 0%, #c8c8c8 7%, #a7a7a7 15%, #4b4b4b 56%, #525252 100%);
  color: #bcf8ff;
  border: none;
  font-size: 12px;
  font-weight: 600;
}

.highlight-text {
  color: #bcf8ff;
  font-size: 1.15rem;
}

.grey {
  color: #5c5c5c;
}

.lightgrey {
  color: #757575;
}

.search {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.search .hero-bg {
  background: linear-gradient(rgba(12, 12, 12, 0.4), rgba(94, 93, 93, 0.4)), url("images/future-type-car.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 100%;
  transform: scale(1.1);
  z-index: -10;
}

.search .search-container {
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);

}

.search .search-category {
  color: #d8d8d8;
  font-size: 0.75rem;
}

.register .btn {
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
}

.card .category-image {
  background-image: url("images/future-type-car.jpg");
  background-color: red;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-size: contain;
}

.card img {
  width: 100%;
}

img.car-img {
  width: 100%;
}

div.alert.alert-success {
    width: 260px;
}

.footer-img img {
  width: 100%;
}

footer {
  background-color: #313131;
  color: #fff;
  font-size: 0.75rem;
}

.footer-h {
color: #bcf8ff;
}


@media (min-width: 575px) {
  nav,
  .dropdown-menu {
    background-color: #00000085;
  }
  .navbar-collapse {
    width: auto;
  }
  .nav-item {
    width: auto;
  }

  nav li {
    margin-top: 0;
  }

  #gmap_canvas {
    width: 450px;
    height: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  #gmap_canvas {
    width: 600px;
    height: 400px;
  }

h1 {
    display: block;
    padding-top: 10vh;
  }
}