@import "../../navbar/navbar.scss";

header {
  .active {
    background-color: gray;
  }
}

.search {
  height: 60vh;
  position: relative;
  overflow: hidden;
  .hero-bg {
    background: linear-gradient(rgba(12, 12, 12, 0.4), rgba(94, 93, 93, 0.4)),
      url("../../images/futurecar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    height: 100%;
    transform: scale(1.1);
  }

  .search-container {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .search-category {
    color: #d8d8d8;
    font-size: 0.75rem;
  }
}

.register .btn {
  font-size: 0.875rem;
  padding: 0.5rem 0.75rem;
}

.card {
  .category-image {
    background-image: url("../../images/category-2.jpg");
    background-color: red;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-size: contain;
  }

  img {
    width: 100%;
  }
}

.footer-img img {
  width: 100%;
}

footer {
  background-color: #313131;
  color: #fff;
  font-size: 0.75rem;
}

footer .footer-h {
  color: #bcf8ff;
}
