/* GENERAL */

body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px !important;
}

.margin-container {
    padding: 3vh;
}

.top {
    padding-top: 70px !important;
}

.margin-paragraph {
    margin-left: 2vh !important;
}

#phone-img {
    width: 100%;
    height: 100%
}

.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}


/* NAVBAR */

nav,
.dropdown-menu {
  background-color: #343a40;
  font-size: 14px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #52595f;
}

.nav-item {
  width: 100px;
}

.brand-name {
  font-size: 16px;
}

nav li {
  margin-top: 15px;
}


@media (min-width: 576px) { 


    nav,
  .dropdown-menu {
    background-color: #00000085;
  }

  .navbar-collapse {
    width: auto;
  }

  .nav-item {
    width: auto;
  }

  nav li {
    margin-top: 0;
  }

}
  
/* BUTTON */

.gradient-dark {
    border-radius: 0.5rem;
    background: #b1b1b1 !important;
    background: linear-gradient(150deg, #b1b1b1 0%, #c8c8c8 7%, #a7a7a7 15%, #4b4b4b 56%, #525252 100%) !important;
    color: #bcf8ff !important;
    border: none !important;
    font-size: 12px !important;
    font-weight: 600 !important;
}


/* FOOTER */

.footer-img img {
    width: 100%;
}

footer {
    background-color: #313131;
    color: #fff;
    font-size: 0.75rem;
}

.footer-h {
    color: #bcf8ff;
    font-size: 1rem;
}


/* MEDIA QUERIES */


@media (min-width: 800px) {


    .margin-paragraph {
        margin-top: 3.5vh !important;
    }

    p {
      font-size: 16px !important;
    }  

    #phone-img {
        max-height: 600px;
        max-width: 320px;
        margin-right: 40px;
        float: right;
    }

    #get-from-play-container {
        max-width: 500px;
        margin-top: 8vh !important;
    }

    #why-container {
        margin-top: 80px !important;
    }

    .margin-container {
        padding: 5vh;
    }

}
