nav,
dropdown-menu {
  background-color: #343a40;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #52595f;
}

.nav-item {
  width: 100px;
}

.brand-name {
  font-size: 16px;
}

nav li {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .navbar-collapse {
    width: auto;
  }
  .nav-item {
    width: auto;
  }

  nav li {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
}
