body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

main img {
  width: 100%;
}

nav {
  font-size: 0.875rem;
}

.navbar-dark,
.dropdown-menu {
  background-color: #343a40;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ffffff;
  background-color: #52595f;
}

.nav-item {
  width: 100px;
}

.brand-name {
  font-size: 16px;
}

nav li {
  margin-top: 15px;
}

@media (min-width: 576px) {
  .navbar-dark,
  .dropdown-menu {
    background-color: #00000085;
  }
  .navbar-collapse {
    width: auto;
  }
  .nav-item {
    width: auto;
  }
  nav li {
    margin-top: 0;
  }
}

.subnav ul li a {
  color: #6b6b6b;
  background-color: transparent;
  font-size: 1rem;
  transition: all 0.3s ease;
}

@media (min-width: 700px) {
  .subnav ul li a {
    font-size: 1.25rem;
  }
}

.subnav ul li a:hover {
  transform: translateY(-10%);
  border-bottom: 3px solid #707070;
}

.subnav .active-page {
  transform: translateY(-10%);
  border-bottom: 3px solid #707070;
}

.card-container .card {
  box-shadow: 15px 15px 15px 0px rgba(0, 0, 0, 0.16);
  background: #d5d5d5;
  background: linear-gradient(160deg, #d5d5d5 0%, white 48%, #d7d7d7 100%);
}

.card-container .card {
  transition: all 0.4s ease-in-out;
}

.card-container .card:hover {
  background: #6e6e6e;
  background: linear-gradient(160deg, #9b9b9b 0%, #494949 48%, #3e3e3e 100%);
  transform: scale(105%);
  color: white;
  font-weight: 500;
}

.my-profile-cars {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  background: #ebebeb;
  background: linear-gradient(160deg, #f0f0f0 0%, white 48%, #e2e2e2 100%);
}

.garage-active-card {
  background: #6e6e6e;
  background: linear-gradient(160deg, #6e6e6e 0%, #222222 48%, #3e3e3e 100%);
  border-radius: 8px;
  overflow: hidden;
  color: #e5dede;
}

.garage-active-card table {
  color: inherit;
  border-color: #e5dede67;
}

@media (min-width: 768px) {
  .car-table {
    border-left: 1px solid #fff;
  }
}

.garage-trips img {
  max-width: 500px;
}

.recent-trips .table {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  background: #ebebeb;
  background: linear-gradient(160deg, #f0f0f0 0%, white 48%, #e2e2e2 100%);
  border-radius: 0.5em;
  font-size: 0.875rem;
}

.recent-trips .table th,
.recent-trips .table td {
  padding: 1.4rem;
}

@media (min-width: 576px) {
  .recent-trips .table th,
  .recent-trips .table td {
    padding: 0.5rem;
    padding-top: 1rem;
  }
}

@media (min-width: 1024px) {
  .recent-trips .table th,
  .recent-trips .table td {
    padding: 1.4rem;
  }
}

.booked-trips .table {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  background: #ebebeb;
  background: linear-gradient(160deg, #f0f0f0 0%, white 48%, #e2e2e2 100%);
  border-radius: 0.5em;
  font-size: 0.875rem;
}

.booked-trips th,
.booked-trips td {
  padding: 0.5rem;
  padding-top: 1.4rem;
}

@media (min-width: 576px) {
  .booked-trips th,
  .booked-trips td {
    padding: 1.4rem;
  }
}

nav .page-nav {
  background-color: transparent;
}

.footer-img img {
  width: 100%;
}

footer {
  background-color: #313131;
  color: #fff;
  font-size: 0.75rem;
}

footer .footer-h {
  color: #bcf8ff;
}
/*# sourceMappingURL=garage.css.map */